.dscards-wrapper {
    width: 100%;
    height: 8.1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.dscard-item {
    width: calc(33% - 0.66rem);
    height: 8rem;
    background-color: #dce0e6;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:  .6rem;
}

.dscard-text {
    display: flex;
    flex-direction: column;
}

.dscard-text h3 {
    font-size: 2.4rem;
    margin-top: .6rem;
    color: rgb(22, 16, 109);
}

.dscard-icon img{
    height: 2.3rem;
    object-fit: cover;
    padding-right: .9rem;
}


@media screen and (max-width: 788px) {
    .dscards-wrapper {
        width: 100%;
        height: 17rem;
    }

    .dscard-item {
        width: calc(50% - 0.5rem);
        
    }

    .dscard-item:nth-child(3) {
        width: 50%;
    }


    
}