.employee {
    width: 100%;
    height: 100vh;

    display: grid;
    grid-template-columns: 15.5rem  1fr;
    grid-template-rows: 5rem 1fr ;
}

.topnav {
    grid-column: 1 / span 2;
    grid-row: 1;
}

.sidenav {
    grid-column: 1;
    grid-row: 2;
}

.employee-main {
    grid-column: 2 ;
    grid-row: 2;
    padding: 1rem;

    display: grid;
    grid-template-columns: 3fr 4fr;
    grid-template-rows: 1fr;
    gap: 1rem;
    background-color: #f4f6f8;
}

.employeemain-area-one {
    grid-column: 1;
    grid-row: 1;

    display: flex;
    flex-direction: column;
}


.employee-table {
    width: 100%;
    height: 100%;
}

.employeemain-area-two {
    grid-column: 2;
    grid-row: 1;
}

.emply-main-header2 {
    width: 100%;
}



@media screen and (max-width: 1160px) {
    .employee {
        display: grid;
        grid-template-columns: 4rem  1fr;
    }
  }


@media screen and (max-width: 857px) {
    .employee {
        display: grid;
        grid-template-columns: 1fr;
    }


    .sidenav {
        visibility: hidden;
    }
}  

@media screen and (max-width: 788px) {
    .employee {
        display: grid;
        grid-template-columns: 1fr;
        overflow: scroll;
    } 

    .employee-main {
        grid-column: 1 ;

        display: grid;
        grid-template-columns: 4rem 1fr ;
        grid-template-rows: 26.5rem 1fr;
        gap: 2.4rem;
    }

    .employeemain-area-one {
        grid-column: 1 / span 4;
        grid-row: 1;
        
    }

    .employeemain-area-two {
        grid-column: 1 / sapn 2;
        grid-row: 2;

    }
}