.topnav {
    position: fixed;
    top: 0;
    width: 100%;
    height: 5rem;
    border-bottom: 1px solid rgb(179, 175, 175);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
    background-color: white;
}

.menu-bar {
    display: none;
}

.topnav-logo .menu-bar img {
    height: 2.3rem;
    margin: 0 1rem 0 .7rem;
}

.topnav-logo {
    display: flex;
    align-items: center;
    margin-left: 1rem;
}

.topnav-logo img {
    height: 4rem;
}

.topnav-logotext {
    margin: 0 .6rem;
}

.topnav-logout {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-right: 1rem;
}

.topnav-logout img {
    height: 1.2rem;
    margin-right: .2rem;
}

.topnav-logout h5 {
    color: brown;
    margin-right: .7rem;
}


@media screen and (max-width: 857px) {
    .menu-bar {
        display: flex;
    }

    .menu-bar img:hover {
        background-color: rgb(171, 180, 187);
    }
}

@media screen and (max-width: 400px) {
    .topnav-logo img {
        height: 2.6rem;
        margin-right: .3rem;
    }

    .topnav-logo {
        margin-left: .3rem;
    }

    .topnav-logotext {
        margin: 0 .3rem;
    }

    .topnav-logotext h4{
        font-size: .8rem;
    }

    .topnav-logotext h5 {
        font-size: .6rem;
    }

    .topnav-logo .menu-bar img {
        height: 1.6rem;
        
    }

    .topnav-logout img {
        height: 1rem;
    }

    .topnav-logout h5 {
        font-size: .6rem;
    }

}