.form-container {
  display: flex;
  gap: 10px;
  padding: 1.5rem;
  border: 1px solid rgb(105, 41, 253);
  background-color: #f8f6f6;
}

.select-opt {
    display: flex;
    gap: 10px;
}
select,
input {
  background-color: #f0eef3;
  border: 1px solid #444;
  color: #030303;
  padding: 8px;
  border-radius: 4px;
  width: 220px;
}
input {
  width: 300px;
}


@media screen and (max-width: 557px) {
    .form-container {
        display: flex;
        flex-direction: column;
        width: 100vw;
        padding: 1rem;
    }
} 
