.leave-table {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.11)
    0px 0px 1px, rgba(0, 0, 0, 0.1) 0px 0.5px 1.5px;
    padding-top: .5rem;
}

.leave-table h3 {
    padding: 0 0 0 .4rem;
}

.leavetb-tabs {
    width: 100%;
    border-bottom: 1px solid;
    background-color: aliceblue; 
}

.leavetb-tabs ul{
    width: 260px;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
    padding-left: 1rem;
}

.leavetb-tabs ul li {
    width: 6rem;
    font-size: 1rem;
    font-weight: 600;
    margin-top: .47rem;
    padding-bottom: .3rem;
    transition:all .5s ease-out;
    transform: translateX(0);
}


.leavetb-tabs ul li:hover {
    cursor: pointer;
}

.active-tabs {
    border-bottom: 4px solid rgb(80, 21, 243);
    color: rgb(80, 21, 243);
}

.notification {
    padding: .12rem .43rem;
	height: 4rem;
	margin-left: 0.75rem;
    background-color: rgb(233, 147, 147);
    border-radius: 27%;
    color: #ffff;
}

.tb-table {
    width: 100%;
    height: 23.2rem;
    overflow: scroll;
}

.tbcontent {
    display: none;
}

.active-tbcontent {
    display: block;
}

.leavetb-tabs ul li {
    text-align: center;
    
}

.request-table table,
.history-table table {
    width: 100%;
    border-collapse: collapse;
    min-width: 890px;
}

.request-table table thead,
.history-table table thead {
    width: 100%;
    position: sticky;
    top: 0;
}

.hidden {
    display: none;
  }

.leave-table-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem 0;
    margin: 1rem 0;
}

.lvsearch-component {
    width: 30%;
    display: flex;
    align-items: center;
    border: 1px solid rgb(192, 186, 186);
    background-color: #f2f2ff;
    border-radius: 7px;
}

.lvsearch-component input {
    width: 90.8%;
    height: 1.8rem;
    font-family: sans-serif;
    font-size: 1.1rem;
    border: none;
    padding: 0 .7rem;
    background-color: #f2f2ff;
    outline: none;
}
.lvsearch-component img{
    height: 1.3rem;
    vertical-align: middle;
    margin-left: 1rem;
    background-color: #f2f2ff;
}

.request-table table th,
.history-table table th {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    padding: .5rem;
    background-color: rgb(204, 203, 207);
}

.request-table table td,
.history-table table td {
    text-align: center;
    padding: .6rem;
    border-bottom: 1px solid rgb(206, 200, 200);
    cursor: pointer;
}

.name-desc {
    display: flex;
    align-items: center;
} 

.name-desc img{
    height: 1.2rem;
    vertical-align: middle;
    margin: 0 0 0 .4rem;   
}

.status-icons {
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.status-icons img {
    height: 1.6rem;
}

.status-icons img:hover {
    transform: scale(130%);
    cursor: pointer;
}

.description {
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 10; /* Ensure it appears above other elements */
} 

.edit-popup-bg {
    position: absolute;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    right: 0;
    background-color: rgb(0, 0, 0, 0.6);
    z-index: 1003;
}

.edit-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 21rem;
    height: 25rem;
    transform: translate(-50%, -50%);
    background: white;
    padding: 10px 20px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    border-radius: 10px;
}

.closeEdit-popup {
    margin-top: -.1rem;
    width: 100%;
    display: flex;
    justify-content: end;
    cursor: pointer;
    
}

.edit-popup h2 {
    margin: 0 .8rem .7rem;
}

.edit-popup form {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.edit-popup input {
    height: 2.2rem;
    font-size: 1.1rem;
}

.edit-popup button {
    margin-top: 1rem;
    height: 2rem;
    border: none;
    border-radius: 6px;
    color: white;
    background-color:  rgb(105, 41, 253);
}
