.sidebar {
    position: fixed;
    width: 15.5rem;
    height: 100%;
    border-right: 1px solid rgb(202, 201, 201);
    display: flex;
    justify-content: center;
}

.sidebar-menu {
    display: flex;
    flex-direction: column;
    margin-top: 6rem;
    gap: 1.6rem;
    width: 100%;
    padding-left: .4rem;
}

a:-webkit-any-link {
    text-decoration: none;
    color: black;
}

.menu-list {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: .2rem 0;
}

.menu-list:hover {
    width: 100%;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    background-color: #d1d1fd;
}

.active {
    width: 100%;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    background-color: rgb(105, 41, 253);
}
.active h4 {
    color: aliceblue;
}

.active img {
    filter: invert(100%);
}
.menu-list img {
    height: 1.2rem;
    margin-right: .5rem;
    object-fit: cover;
    /*filter: invert(48%) sepia(13%) saturate(3207%) hue-rotate(130deg) brightness(95%) contrast(80%);
*/
}

.menu-list h4 {
    width: 40%;
    padding: .4rem 0;
    font-weight: 500;
    font-size: 18px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

@media screen and (max-width: 1160px) {

    .sidebar-menu {
        padding-left: 0rem;
    }
    .menu-list  {
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: .3rem 0;
    }

    .menu-list h4 {
        width: 100%;
        font-size: .6rem;
        text-align: center;
    }

    .menu-list:hover {
        border-radius: 0;
    }

    .active {
        border-radius: 0;
        padding-top: .5rem;   
    }

    .menu-list img{
        padding: 0 .6rem ;
    }
    h4:hover  {
    
            display: block;
        
    }
  }
