.leave-history-table {
    width: 100%;
    height: 9rem;
    padding: 1.3rem .5rem 0 0.5rem;
}

.leave-history-table table {
    width: 100%;
    height: 100%;  
    padding: .4rem 0;
    border-collapse: collapse;
}

.leave-history-table table tr:nth-child(n + 3) {
    visibility: hidden;
}

.leave-history-table table td {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.leave-history-table table td img {
    height: 1.6rem;
    object-fit: cover;
}

.no-data {
    position: relative;
    left: 40%;
    top: 30%;
    text-align: center;
    font-size: 1.3rem;
    border-bottom: none;
    color: rgb(197, 190, 190);
}