.leave-history-table {
    width: 100%;
    height: 9rem;
    padding: 1.3rem .5rem 0 0.5rem;
}

.leave-history-table table {
    width: 100%;
    height: 100%;  
    padding: .4rem 0;
    border-collapse: collapse;
}

.leave-history-table table tr:nth-child(n + 3) {
    visibility: hidden;
}

.leave-history-table table td {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.leave-history-table table td img {
    height: 1.6rem;
    object-fit: cover;
}

.no-data {
    position: relative;
    left: 40%;
    top: 30%;
    text-align: center;
    font-size: 1.3rem;
    border-bottom: none;
    color: rgb(197, 190, 190);
}

.stafflv-history-popup-bg{
    position: fixed;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    background-color: rgb(0, 0, 0, 0.6);
    z-index: 1001;

    display: flex;
    justify-content: center;
    align-items: center;
}

.staffllv-history-popup-container {
    min-width: 360px;
    height: 390px;
    z-index: 100;
    background-color: white;
    border-radius: 9px;
    padding: 1rem;
    overflow-y: scroll;
}

.full-history {
    width: 100%;
    height: 19rem;
    padding: 1.3rem .5rem 0 0.5rem;
}

.full-history table {
    width: 100%;
    height: 100%;  
    padding: .4rem 0;
    border-collapse: collapse;
}

.full-history table td {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.full-history table td img {
    height: 1.6rem;
    object-fit: cover;
}

.stafflv-no-data {
    position: absolute;
    left: 46%;
    top: 50%;
    text-align: center;
    font-size: 1.3rem;
    border-bottom: none;
    color: rgb(197, 190, 190);
}