.custom-row {
    height: 50px; /* Ensures empty rows have a minimum height */
  }
  
  .ant-table-placeholder {
    height: 100%;
    display: table-row-group;
  }
  .custom-table .ant-table {
    box-shadow: rgba(0, 0, 0, 0.11) 0px 0px 1px, rgba(0, 0, 0, 0.1) 0px 0.5px 1.5px;
  }

  /* CustomTable.css */
.custom-table .ant-table-thead > tr > th {
  background-color: aliceblue;  /* Change background color */
  color: rgb(56, 56, 139);               /* Change text color */
}

  
  /* Increase border thickness for table cells 
.ant-table td, .ant-table th {
  border-width: 1px !important; /* Increase thickness 
  border-color: black !important; /* Darker color for visibility 
}

/* Make the header border even thicker 
.ant-table-thead > tr > th {
  border-bottom: 1px solid black !important;
}

/* Ensure columns have a visible right border 
.ant-table-cell {
  border-right: 1px solid black !important;
}
*/